@import '../utilites/color';
.sponsored {
    background-color: $primary-color;
    color: $white;
    padding: 5rem 13rem;
    .slider-container {
        position: relative;
        .slider-arrow {
            height: 2rem;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            .carousel__arrow {
                width: 2rem;
                margin-top: -6.5rem;
                z-index: 2;
                cursor: pointer;
                img {
                    width: 100%;
                }
            }
            .carousel__next-custom {}
            .carousel__prev-custom {}
        }
        .carousel {
            flex: 2;
            padding: 1rem;
            .carousel__next,
            .carousel__prev {
                display: none;
            }
        }
    }
    h2 {
        text-align: center;
        font-size: 1.125rem;
        font-weight: 300;
        padding: 0 0 3rem 0;
    }
    img {
        height: 5.5rem;
    }
}